<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Tracker</title>
    <link type="text/css" rel="stylesheet" href="/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header class="row">
      <h1 class="tracker">Stock Tracker</h1>
      <nav>
        <ul class="navbar">
          <% if (currentUser) { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/stocks">Stocks</a></li>
          <% } else { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <%- include('./partials/alerts.ejs') %>
      <%- body %>
    </div>
  </body>
</html>
