<% mstocks.forEach(movie => { %>
    <ul>
        <a href="/stocks/<%= stock.imdbID %>">
        <li><%= stock. %></li>
        </a>
        <input type="hidden" name="imdbID" value="<%= movie.imbdID %>">
    </ul>
<% }) %>
