<h2 class="NYSE">NYSE Stocks</h2>
    <form class="search" method="GET" action="/stocks">
        <input type="text" placeholder="Comp name or Symbol" name="searchTerm">
        <input type="submit" placeholder="Search">
    </form>

<div class="container">
  <% stocks.forEach(function(stocks) { %>
    <div>
      <h2 class="stocks"><%= stocks.symbol %> <%= stocks.name %></h2>
      <form method="POST" action="/dashboard">
        <input hidden type="text" name="name" value="<%= stocks.name %>">
        <input hidden type="text" name="symbol" value="<%= stocks.symbol %>">
        <button type="submit">Add Stock to Tracker</button>
      </form>
    </div>
  <% }); %>
</div>