body {
    background-color: #293042;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.wrapper {
    margin: 0 10%;
}

input {
    color: black;
}

.tracker {
    text-align: center;
}


.dashboard {
    text-align: center;
}

.NYSE {
    text-align: center;
}

.search {
    text-align: right;
}

.stocks {
    border: solid black;
    border-radius: 15px;
    padding: 10px;

}